.workspace-index, .running-counter, .workspace-index-highlight, .hot-key-number{
  text-align: center;
  font-weight: normal;
  margin-bottom: 4px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-width: 1px;
  border-radius: 0.2em;
  background-color: rgba(46, 52, 53, 0.7);
  color: #bebebe;
}

.running-counter {
  /*margin-bottom: 0px;*/
  border-color: rgb(68, 68, 68);
}

.workspace-index-highlight {
  border-color: grey;
}
.workspace-index-overlay {
  text-align: center;
  text-shadow: -2px -2px rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 15em;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.0);
}

.tooltip-box {
  color: rgb(200, 200, 200);
  font-weight: normal;
  text-align: center;
  /*text-shadow: -1px -1px rgba(0, 0, 0, 0.7);*/
  background-color: rgba(29, 32, 33, 0.9);
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 8px;
  border-color: darkgrey;
  border-width: 1px;
  border-color: rgb(66, 64, 64);
}

.title-name {
  font-size: 1.5em;
}

.title-description {
  font-size: 1em;
}

.search-text {
  font-size: 2.5em;
  font-weight: bold;
  /*background-color: rgba(20, 20, 20, 0.9);*/
}

.hot-key-number {
  font-size: 1em;
  background-color: rgba(46, 52, 53, 0.7);
}

.status-label {
  color: #888;
  font-size: 0.8em;
}
