.workspace-index, .running-counter, .workspace-index-highlight, .hot-key-number{
  text-align: center;
  font-weight: normal;
  margin-bottom: 4px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-width: 1px;
  border-radius: 0.2em;
  background-color: rgba(46, 52, 53, 0.7);
  color: #bebebe;
}

.running-counter {
  /*margin-bottom: 0px;*/
  border-color: rgb(68, 68, 68);
}

.workspace-index-highlight {
  border-color: grey;
}

.title-label {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.title-description {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1em;
}

.hot-key-number {
  font-size: 1em;
  background-color: rgba(46, 52, 53, 0.7);
}

.status-label {
  color: #888;
  font-size: 0.8em;
}
