.workspace-index, .workspace-index-highlight, .hot-key-number{
  text-align: center;
  font-weight: normal;
  padding: 1px;
  border-width: 1px;
  border-radius: 0.2em;
  min-width: 10px;
  min-height: 15px;
  background-color: rgba(46, 52, 53, 0.7);
  color: #bebebe;
}

.workspace-index-highlight {
  border-color: grey;
}
.workspace-index-overlay {
  text-align: center;
  text-shadow: -2px -2px rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 15em;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.0);
}

.title-label, .search-text {
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  /*text-shadow: -1px -1px rgba(0, 0, 0, 0.7);*/
  background-color: rgba(29, 32, 33, 0.9);
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
  border-color: darkgrey;
  border-width: 1px;
  border-color: rgb(66, 64, 64);
}

.search-text {
  font-size: 3em;
  font-weight: bold;
  /*background-color: rgba(20, 20, 20, 0.9);*/
}

.hot-key-number {
  font-size: 1em;
  background-color: rgba(46, 52, 53, 0.7);
}

.status-label {
  color: #888;
  font-size: 0.8em;
}
